# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\03_AAU_Masters\02_2nd_semester\Modelling Physical systems\butterfly-aerodynamics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
